<header class="main-header main-header--inner-pages">
  <nav class="navigation-menu">
    <div class="center-wrap clear-fix">
      <%= link_to root_path, class: "logo" do %>
       <span class="logo__name">Kotuk Bogdan — <i class="logo__name--italic">фотограф</i></span>
      <% end %>
      <ul class="navigation-menu__list navigation-menu__list--to-right">
        <li class="navigation-menu__item"><a href="portfolio.html">Портфолио</a></li>
        <li class="navigation-menu__item"><a href="price.html">Цены</a></li>
        <li class="navigation-menu__item"><a href="aboutme.html">Обо мне</a></li>
        <li class="navigation-menu__item"><a href="contacts.html">Контакты</a></li>
      </ul>
    </div>
  </nav>
</header>
