  <%= render 'shared/header' %>

    <div class="center-wrap">
      <div class="about-me clear-fix">
        <h1 class="about-me__title">Обо мне</h1>
        <div class="about-me__photo"><img src="pict/about-me.jpg" alt=""/></div>
        <div class="about-me__desc">
          <div class="about-me__subtitle">Приветствую Вас на моем сайте-портифолио!</div>
          <p class="about-me__text">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.</p>
        </div>

        <div class="social-buttons social-buttons--to-left">
          <div class="about-me__subtitle about-me__subtitle--social">Присоеденяйтесь ко мне в друзья в соцсетях:</div>
          <a href="#" class="social-buttons__btn social-buttons__btn--vk"></a>
          <a href="#" class="social-buttons__btn social-buttons__btn--fb"></a>
          <a href="#" class="social-buttons__btn social-buttons__btn--twitter"></a>
          <a href="#" class="social-buttons__btn social-buttons__btn--google"></a>
        </div>
      </div>

    </div>

