<div class="main-page-title">
  <div class="main-page-title__desc">Photographer</div>
  <h1 class="main-page-title__name">Kotuk Bogdan</h1>
</div>

<div class="gallery-main" id="gallery">

  <div class="gallery-main__photos" style="margin-left: 0px">
    <div class="gallery-main__photo-wrap"><img class="gallery-main__photo" src="pict/main/1-5.jpg" alt=""/></div>
    <div class="gallery-main__photo-wrap"><img class="gallery-main__photo" src="pict/main/10.jpg" alt=""/></div>
    <div class="gallery-main__photo-wrap"><img class="gallery-main__photo" src="pict/main/372.jpg" alt=""/></div>
    <div class="gallery-main__photo-wrap"><img class="gallery-main__photo" src="pict/main/7.jpg" alt=""/></div>
    <div class="gallery-main__photo-wrap"><img class="gallery-main__photo" src="pict/main/9.jpg" alt=""/></div>
    <div class="gallery-main__photo-wrap"><img class="gallery-main__photo" src="pict/main/IMG_6767.jpg" alt=""/></div>
    <div class="gallery-main__photo-wrap"><img class="gallery-main__photo" src="pict/main/IMG_6771.jpg" alt=""/></div>
    <div class="gallery-main__photo-wrap"><img class="gallery-main__photo" src="pict/main/IMG_8606.jpg" alt=""/></div>
    <div class="gallery-main__photo-wrap"><img class="gallery-main__photo" src="pict/main/wedd(2)-14.jpg" alt=""/></div>
    <div class="gallery-main__photo-wrap"><img class="gallery-main__photo" src="pict/main/wedd(2)-326.jpg" alt=""/></div>
  </div>


  <div class="gallery-controls">
    <button class="gallery-controls__prev" data-direction="prev"></button>
    <button class="gallery-controls__next" data-direction="next"></button>
  </div>
</div>
