  <%= render 'shared/header' %>

    <div class="center-wrap">
      <div class="price">
        <h3 class="price__title">Цены</h3>
        <div class="price__items">
          <div class="price__item clear-fix">
            <span class="price__desc">Портрет, крестины, репортаж</span>
            <span class="price__value">1000грн</span>
          </div>
          <div class="price__item clear-fix">
            <span class="price__desc">Свадьба</span>
            <span class="price__value">300грн</span>
          </div>
          <div class="price__item clear-fix">
            <span class="price__desc">Дополнительные съемочные часы</span>
            <span class="price__value">400грн</span>
          </div>
          <div class="price__item clear-fix">
            <span class="price__desc">Слайдшоу (10-15 мин.) </span>
            <span class="price__value">500грн</span>
          </div>
          <div class="price__item clear-fix">
            <span class="price__desc">Предсвадебная съемка – love story (2–3 съемочных часа , 100 обработанных фотографий)</span>
            <span class="price__value">200грн</span>
          </div>
        </div>
      </div>

      <div class="work-details">
        <h2 class="work-details__title">Все детали обсуждаються</h2>
        <h3 class="work-details__subtitle">Работаю по всей Украине</h3>
        <p class="work-details__desc">Работаю с отличными видеооператорами, визажистами, парикмахерами, магазинами одежды, музыкантами, ведущими мероприятий.</p>
      </div>
    </div>
