  <%= render 'shared/header' %>

    <div class="center-wrap">
      <div class="price">
        <div class="price__title">Цены</div>
        <div class="price__text clear-fix">
          <p class="price__item">Портрет, крестины, репортаж  ............................ <span class="price__value">300грн./час</span></p>
          <p class="price__item">Свадьба  ....................................................... <span class="price__value">300грн./час</span></p>
          <p class="price__item">Дополнительные съемочные часы  ...................... <span class="price__value">300грн./час</span></p>
          <p class="price__item">Слайдшоу (10-15 мин.)  .......................................... <span class="price__value">300грн</span></p>
          <p class="price__item">Предсвадебная съемка – love story <br/>(2–3 съемочных часа , 100 обработанных фотографий)  ... <span class="price__value">300грн.</span></p>
        </div>
      </div>
    </div>
