<div class="contacts__feedback">
  <div class="contacts__title">Обратная связь</div>
  <div class="contacts__success-deliver">
    <p class="contacts__success-deliver-desc">Ваше сообщение отправлено!</p>
    <p class="contacts__success-deliver-time">Я свяжусь с Вами с ближайшее время.</p>
  </div>
</div>