  <%= render 'shared/header' %>

    <div class="center-wrap">
      <div class="about-me clear-fix">
        <h1 class="about-me__title">Обо мне</h1>
        <div class="about-me__photo"><img src="<%= asset_path('dankot.jpg') %>" alt=""/></div>
        <div class="about-me__desc">
          <div class="about-me__subtitle">Приветствую Вас на моем сайте-портфолио!</div>
          <p class="about-me__text">Меня зовут Богдан Котюк. Занимаюсь профессиональной фотосъемкой людей.<br><br>
            Концентрирую свои силы и умения в таких направлениях фотографии как свадебная съемка, love-story, портрет и ряд других событий (крещения, дни рождения, выпускные, девичники и другое).<br><br>Занимаюсь любимым делом и развиваюсь в сфере фотографи.
            <br><br> Если вам интересны мои работы или вы хотите сотрудничать со мной, буду рад сделать для вас прекрасные фото. <br><br>Работаю с отличными видеооператорами, визажистами, парикмахерами, магазинами одежды, музыкантами, ведущими мероприятий.</p>
        </div>

        <div class="social-buttons social-buttons--to-left">
          <div class="about-me__subtitle about-me__subtitle--social">Присоединяйтесь ко мне в друзья в соцсетях:</div>
          <a href="http://vk.com/dankotyuk" class="social-buttons__btn social-buttons__btn--vk"></a>
          <a href="http://instagram.com/bogdan.kotiuk" class="social-buttons__btn social-buttons__btn--inst"></a>
        </div>
      </div>

    </div>

