<%= render 'shared/header' %>

<div class="center-wrap">
  <div class="contacts clear-fix">
    <% if flash.any? %>
      <%= render 'shared/flash' %>
    <% end %>

    <div class="contacts__info">
      <div class="contacts__title">Контакты</div>
      <div class="contacts__details">Телефон: <span class="contacts__resize">+380 99 150 8454</span></div>
      <div class="contacts__details">Телефон: <span class="contacts__resize">+380 99 150 8454</span></div>
      <div class="contacts__details">E-mail: <a href="mailto:info@dankot.net" class="contacts__resize contacts__resize--link">info@dankot.net</a></div>

      <div class="social-buttons social-buttons--center">
        <div class="about-me__subtitle about-me__subtitle--social">Я в соцсетях:</div>
        <a href="#" class="social-buttons__btn social-buttons__btn--vk"></a>
        <a href="#" class="social-buttons__btn social-buttons__btn--fb"></a>
        <a href="#" class="social-buttons__btn social-buttons__btn--twitter"></a>
        <a href="#" class="social-buttons__btn social-buttons__btn--google"></a>
      </div>
    </div>

    <%= render 'form' %>
  </div>
</div>
