<%= render 'shared/header' %>

<div class="center-wrap">

  <div class="contacts clear-fix">
    <div class="contacts__info">
      <div class="contacts__title">Контакты</div>
      <div class="contacts__details">Телефон: <span class="contacts__resize">+380 50 914 45 49</span></div>
      <div class="contacts__details">Телефон: <span class="contacts__resize">+380 98 208 56 46 </span></div>
      <div class="contacts__details contacts__details--margin">E-mail: <a href="mailto:kotiuk.bodik@gmail.com " class="contacts__resize contacts__resize--link">kotiuk.bodik@gmail.com </a></div>

      <div class="social-buttons social-buttons--center">
        <div class="about-me__subtitle about-me__subtitle--social">Я в соцсетях:</div>
        <a href="http://vk.com/dankotyuk" class="social-buttons__btn social-buttons__btn--vk"></a>
        <a href="http://www.instagram.com/bogdan.kotiuk" class="social-buttons__btn social-buttons__btn--inst"></a>
      </div>
    </div>

    <%= render 'form' %>
  </div>
</div>
