<div>
  <b>Имя:</b>
  <%= @message.name %>
</div>

<div>
  <b>E-mail:</b>
  <%= @message.email %>
</div>

<div>
  <b>Телефон:</b>
  <%= @message.phone %>
</div>

<div>
  <b>Текст сообщения:</b>
  <div><%= @message.text %></div>
</div>
