<%= render 'shared/header' %>

<div class="gallery-portfolio" id="gallery-inner">
  <div class="sort-photos">

    <div class="center-wrap clear-fix">
      <span class="sort-photos__bracket sort-photos__bracket--left">[</span>
      <span class="sort-photos__bracket sort-photos__bracket--right">]</span>

      <ul class="sort-photos__list">
        <li class="sort-photos__item sort-photos__item--active" data-action="sort" data-sort="all" ><a class="sort-photos__link" href="">Все</a></li>
        <li class="sort-photos__item" data-action="sort" data-sort="wedding"><a class="sort-photos__link" href="">Свадьба</a></li>
        <li class="sort-photos__item" data-action="sort" data-sort="love"><a class="sort-photos__link" href="">Love Story</a></li>
        <li class="sort-photos__item" data-action="sort" data-sort="portrait"><a class="sort-photos__link" href="">Портрет</a></li>
        <li class="sort-photos__item" data-action="sort" data-sort="children"><a class="sort-photos__link" href="">Дети</a></li>
        <li class="sort-photos__item" data-action="sort" data-sort="events"><a class="sort-photos__link" href="">События</a></li>
      </ul>

    </div>
  </div>


  <div class="center-wrap">
    <div class="grid" id="photo-container">

    </div>

    <div class="view-photo">

      <div class="view-photo__table" data-action="close">
        <div class="view-photo__table-cell">
          <div class="view-photo__wrap">
            <div class="social-buttons social-buttons--view-photo">
              <a href="http://vk.com" class="social-buttons__btn social-buttons__btn--vk"></a>
              <a href="//fb.com" class="social-buttons__btn social-buttons__btn--fb"></a>
              <a href="#" class="social-buttons__btn social-buttons__btn--twitter"></a>
              <a href="#" class="social-buttons__btn social-buttons__btn--google"></a>
            </div>
            <img class="view-photo__image" src="" data-realsize="" alt=""/>
            <a href="" class="view-photo__close" data-action="close"></a>
            <a href="" class="view-photo__open-original" data-action="open-window">Открыть оригинал</a>
          </div>

          <div class="gallery-controls">
            <a href="#" class="gallery-controls__prev gallery-controls__prev--center-page" data-action="change-photo"
               data-direction="prev"></a>
            <a href="#" class="gallery-controls__next gallery-controls__next--center-page" data-action="change-photo"
               data-direction="next"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
