<h4>Категории</h4>
<%= link_to "Добавить", new_category_path %>
<hr>

<% if @categories.any? %>
  <ul>
    <% @categories.each do |category| %>
      <li>
        <%= category.display_name %>
        <br>
        <%= link_to "Редактировать", edit_category_path(category),
              class: "btn btn-default btn-xs" %>
        <%= link_to "Удалить", category_path(category), method: :delete,
              data: { confirm: "Все фотографии в этой категории также удялятся" },
              class: "btn btn-default btn-xs" %>
      </li>
    <% end %>
  </ul>
<% else %>
  Нет категорий
<% end %>
