.price {
  margin: 0 auto;
  padding-top: 50px;
  width: 500px;
  color: #4c4c4c;
  font-size: 1.15em;
  line-height: 1.375em;

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: @proSemiBold;
    font-size: 1.875em;
    text-align: center;
    text-transform: uppercase;
  }

  &__value {
    float: right;
  }
}