.social-buttons {
  float: right;
  font-size: 0;

  &--view-photo {
    position: absolute;
    margin: 0;
    top: 15px;
    left: 64px;
  }

  &--to-left {
    float: left;
  }

  &--center {
    float: none;
    margin: 0 auto;
  }

  &__btn {
    display: inline-block;
    margin-right: 20px;
    background-image: image-url('social-buttons.png');
    background-repeat: no-repeat;

    &:last-child {
      margin-right: 0;
    }

    &--fb {
      width: 9px;
      height: 17px;
      background-position: -5px -5px;

      &:hover {
        background-position: -24px -5px;
      }
    }

    &--google {
      width: 21px;
      height: 18px;
      background-position: -43px -5px;

      &:hover {
        background-position: -5px -33px;
      }
    }

    &--twitter {
      width: 18px;
      height: 15px;
      background-position: -36px -33px;

      &:hover {
        background-position: -74px -5px;
      }
    }

    &--vk {

      width: 13px;
      height: 15px;
      background-position: -74px -30px;

      &:hover {
        background-position: -64px -55px;
      }
    }
  }

}








