<!DOCTYPE html>
<html>
<head>
  <title>Bogdan Kotyuk</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrap">
    <%= yield %>

    <div class="push"></div>
  </div>

  <footer class="page-footer">
    <div class="center-wrap clear-fix">
      <div class="page-footer__copyright">© Bogdan Kotyuk, portfolio, 2015</div>
      <div class="social-buttons">
        <a href="http://vk.com/dankotyuk" class="social-buttons__btn social-buttons__btn--vk"></a>
        <a href="http://instagram.com/bogdan.kotiuk" class="social-buttons__btn social-buttons__btn--inst"></a>
      </div>
    </div>
  </footer>
</body>
</html>
